.header{
    padding:90px;
 }
 .header h1{
     text-align: center;
     color: #fffffe;
     font-size: 3.5rem;
     font-weight: 400;
 }
 .header p{
     text-align: center;
     font-size: 1.5rem;
     color: #fffffe;
     font-weight: bold;
   
 }
 .header #myElement{
     color: #9e3155;
     font-size: 2rem;
     padding: 10px;
 }
 
   .cursor{
   border-left:3px solid #9e3155;
   animation: blink 1s infinite;
 } 
 @keyframes blink {
     0%{
         background-color: #fffffe;
     }
     49%{
        background-color: #fffffe;
     }
     50%{
        background-color: #fffffe;
     }
 }
 