.about h1{
    font-size: 32px;
    text-align: center;
    color: #ffffef;
    font-weight: 800;
    padding-bottom: 90px;
}

.about div p{
    text-align: center;
    color: #E5DFF5;
    font-size: 16px;
}
.firstdiv{
    padding: 15px;
}
.lastdiv{
    padding: 15px;
}